.container {
  background-color: white;
}

.project-bg {
  background-color: white;
  width: 100%;
  height: 100%;
}

.left-project {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #2D4356;
}

.heading {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 50px;
}
.swiper {
  width: 80%;
  height: 80%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  overflow-y: hidden;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-wrapper {
  height: 75vh !important;
}

/* @media (min-width:325px)  { 
  .swiper-slide img {
    display: flex;
    width: 50%;
    height: 50%;
    object-fit: cover;
  }
} */

.swiper-slide img {
  display: flex;
  width: 50%;
  height: 50%;
  object-fit: cover;
}

.swiper-button-next {
  color: #2D4356 !important;
}

.swiper-button-prev {
  color: #2D4356 !important;
}

.swiper-pagination-bullets {
  color: red !important;
}

.swiper-pagination {
  color: red !important;
} 

.swiper-pagination-bullets {
  color: red !important;
}

.swiper-pagination-horizontal {
  color: red !important;
}